!*.svg
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.code-workspace
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
*.vsix
*~
config.toml
.env.local
.env.development.local
.env.production.local
.env.test.local
.eslintcache
.history/
.idea/**/*.iml
.idea/**/artifacts
.idea/**/atlassian-ide-plugin.xml
.idea/**/aws.xml
.idea/**/azureSettings.xml
.idea/**/caches/
.idea/**/codestream.xml
.idea/**/compiler.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/httpRequests
.idea/**/jarRepositories.xml
.idea/**/libraries
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator/
.idea/**/modules.xml
.idea/**/modules/
.idea/**/shelf
.idea/**/sonarIssues.xml
.idea/**/sonarlint/
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.next/
.stylelintcache
node_modules/
out/
api/
dist/
yarn-debug.log*
yarn-error.log*
swagger.json
openapitools.json
packages/infrastructure/supabase/.branches
packages/infrastructure/supabase/migrations
!/packages/infrastructure/supabase/config.toml
