{
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "tailwindConfig": "./packages/frontend/tailwind.config.js",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@atoms/(.*)$",
    "^@molecules/(.*)$",
    "^@organisms/(.*)$",
    "^@templates/(.*)$",
    "^@hooks/(.*)$",
    "^@hoc/(.*)$",
    "^@utils/(.*)$",
    "^@api/(.*)$",
    "^@styles/(.*)$",
    "^@v1/(.*)$",
    "^@dto/(.*)$",
    "^@auth/(.*)$",
    "^@user/(.*)$",
    "^@role/(.*)$",
    "^@prisma/(.*)$",
    "^@supabase/(.*)$"
  ],
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx", "classProperties", "decorators-legacy"]
}
