{
  "plugins": [
    "stylelint-a11y",
    "stylelint-declaration-block-no-ignored-properties",
    "stylelint-group-selectors",
    "stylelint-high-performance-animation"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-idiomatic-order",
    "stylelint-a11y/recommended",
    "stylelint-config-prettier"
  ],
  "rules": {
    "function-no-unknown": null,
    "plugin/declaration-block-no-ignored-properties": true,
    "plugin/stylelint-group-selectors": true,
    "plugin/no-low-performance-animation-properties": true
  },
  "overrides": [
    {
      "files": ["**/*.{ts,tsx}"],
      "customSyntax": "@stylelint/postcss-css-in-js"
    }
  ]
}
